@import './reset';
@import './variables';
@import './breakpoint';
@import './mixin';

.about-company-section {
    width: 100%;
    max-width: $maxWidth;
    margin: 5rem auto;


    &__container {
        width: 100%;
        max-width: 70rem;
        margin: 0 auto;
        @include flexCenter();
        gap: 5rem;
        flex: 1 1 0;
        padding: 0 2rem;

        &__details {
            @include flexCenter($direction: column, $align-item: flex-start);
            gap: 1rem;
            flex: 1 1 0;

            .icons-section {
                margin-top: 1rem;
                width: 100%;
                display: flex;
                justify-content: space-between;
                gap: 2rem;
                
                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    flex: 1 1 0;

                    img {
                        width: 5rem;
                        margin: 0 auto;
                    }

                    span {
                        display: flex;
                        gap: 1rem;
                        
                        h4 {
                            transform: translateY(25px);
                            transition: .3s ease-in-out;
                            opacity: 0;
                            flex: 1 1 0;
                            font-size: 2.5rem;
                            text-align: end;

                            &.active {
                                transform: translateY(0);
                                opacity: 1;
                            }
                        }
                        

                        p {
                            flex: 1 1 0;
                            word-spacing: 30rem;
                            margin: auto;
                        }
                    }
                }

                @include xs {
                    flex-direction: column;
                    gap: 4rem;
                }
            }

            &>h3 {
                font-size: 1.5rem;
                font-weight: $weightSemiBold;
            }

            &>h2 {
                font-size: 2.5rem;
            }
        }

        &__image-container {
            flex: 1 1 0;
            max-width: 25rem;
            
            img {
                width: 100%;
            }
        }

        @include lg {
            flex-direction: column;
        }
    }
}