@import './reset';
@import './variables';
@import './breakpoint';
@import './mixin';

.subPage-banner {
    height: 25rem;
    position: relative;
    background-image: url('../../images/hero/heroes-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;

    &.error {
        height: 50rem;
    }

    .bg-overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: hsla(0,0%,100%,.92);
    }
    
    &__container {
        max-width: $maxWidth;
        margin: 0 auto;
        height: 100%;
        display: flex;
        align-items: center;

        &__heading {
            padding: 4rem;
            z-index: 1;

            &.error {
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding: 2rem;
                text-align: center;

                i {
                    font-size: 5rem;
                }

                h2 {
                    font-size: 2.7rem;
                }
        
                a {
                    background-color: $primaryColor;
                    padding: .8rem;
                    text-decoration: none;
                    color: white;
                    border-radius: .2rem;
                    font-weight: $weightBold;
                    box-shadow: $primaryButtonShadow;
                    transition: .3s ease-in-out;
                    margin-top: 1rem;

                    &:hover {
                        box-shadow: $primaryButtonHoverShadow;
                    }
                }

                
            }
        }

        h3 {
            font-size: 2rem;
        }

        h4 {
            font-size: 1.2rem;
        }

        @include xs {
            justify-content: center;
            text-align: center;
        }
    }


    
}